/*https://paletasdecolores.com/paleta-de-colores-4553/*/
/*https://paletasdecolores.com/paleta-de-colores-4570/*/

*{
    margin: auto;
}

.nav-bar{
    width: 600px;
    height: 50px;
    border: 1px solid black;
    background-color: whitesmoke;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 700px;
    height: auto;
    border: 1px solid black;
    background-color: #c6dc93;
    padding-bottom: 20px;

}
.first-box{
    margin-top: 20px;
    width: 370px;
    height: 200px;
    border: 1px solid black;
    background-color: #589d62;
}

.second-box{
    margin-top: 20px;
    width: 300px;
    height: 220px;
    border: 1px solid black;
    background-color: #b0d3bf;
    
}
.third-box{
    margin-top: 20px;
    width: 400px;
    height: auto;
    border: 1px solid black;
    background-color: #63a91f;
}
.separator{
    margin: 35px;
}
.first-p{
    margin: 10px;
    text-align: right;
}
.second-p{
    margin: 10px;
    text-align: left;
    color: black;
}
.third-p{
    margin: 10px;
    text-align: center;
}
.blue-container{
    text-align: center;
    width: 700px;
    height: 400px;
    border: 1px solid black;
    background-color: #E8EDE7;
}
.blue-box{
    display: inline-block;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: #012E4A;
}


.p-blue{
    margin-top: 20px;
    color: whitesmoke;
}
.m-top{
    margin-top: 20px;
}