
*{
    margin: auto;
}
.nav-bar{
    width: 600px;
    height: 50px;
    border: 1px solid wheat;
    background-color: black;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
.nav-bar > a{
    display: inline-block;
    border: 1px solid wheat;
    padding: 15px;
}